.MuiStepLabel-label {
    font-family: 'iransans' !important;
    padding-inline: 5px;
}

.MuiInputBase-input {
    font-family: 'iransans' !important;
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root {
    font-family: 'iransans';
}

.MuiFormHelperText-root.Mui-error {
    font-family: 'iransans';
    font-size: 16px;
}